<!doctype html>

<html lang="en">
   
   
    <head>
       
       
        <!-- META -->
        <meta charset="utf-8">
        <meta name="robots" content="noodp">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
       
        <!-- PAGE TITLE -->
        <title>Abdul - Rehman</title>
        {% load static %}
        <!-- {% static 'p3/' %} -->
        <!-- FAVICON -->
        <link rel="shortcut icon" href="{% static 'p3/assets/img/favicon.png' %}">
       
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet">
       
        <!-- STYLESHEETS -->
        <link rel="stylesheet" type="text/css" href="{% static 'p3/assets/css/plugins.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'p3/assets/css/main.css' %}">
        
        
    </head>

   
    <body>
    
       
        <!-- PRELOADER -->
        <div class="preloader">
           
            <div class="spinner"></div>
            
        </div>
        <!-- /PRELOADER -->
    
        
        <!-- IMAGE CONTAINER -->
        <div class="image-container">
           
            <div class="background-img"></div>

        </div>
        <!-- /IMAGE CONTAINER -->


        <!-- CONTENT AREA -->
        <div class="content-area">


            <!-- CONTENT AREA INNER --> 
            <div class="content-area-inner">


                <!-- INTRO -->
                <section id="intro">


                    <!-- CONTAINER MID -->
                    <div class="container-mid">

                       
                        <!-- ANIMATION CONTAINER -->
                        <div class="animation-container animation-fade-right" data-animation-delay="0">
                        
                            <h1>I’m Adbul Rehman and I'm Django Developer.</h1>
                        
                        </div>
                        <!-- /ANIMATION CONTAINER -->
                        
                        
                        <!-- ANIMATION CONTAINER -->
                        <div class="animation-container animation-fade-right" data-animation-delay="200">
                           
                            <a href="#about" class="smooth-scroll">Learn More<div class="circle"><i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-down" aria-hidden="true"></i></div></a>
                            
                        </div>
                        <!-- /ANIMATION CONTAINER -->


                    </div>
                    <!-- /CONTAINER MID -->


                </section>
                <!-- /INTRO -->


                <!-- ABOUT -->
                <section id="about">


                    <h3 class="headline scroll-animated">About Me</h3>
                    <p>I was born in 2004, after matric in 2020: Out of my curiosity about how web apps work, I started learning development using the most famous frameworks of Python like Django/Flask from YouTube and other learning websites. I can develop useful & professional web apps using Django and flask to accomplish customer requirements. After practicing for years now I feel I can join progressive teams like yours to further polish my skills and entertain any workloads coming my way with an open heart.
                        <br>
                        “I'm not a great programmer; I'm just a good programmer with great habits.”
                    </p>
                    
                    


                </section>
                <!-- /ABOUT -->
                
                
                <!-- SERVICE -->
                <section id="service">


                    <h3 class="headline scroll-animated">Services</h3>
                    
                    
                    <!-- SERVICE LIST -->
                    <ul class="services-list">
                       
                       
                        <!-- SERVICE ITEM -->
                        <li class="service-item scroll-animated">
                           
                           
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-1" aria-expanded="false">Python</button>
                            
                            
                            <!-- COLLAPSE CONTENT -->
                            <div class="collapse" id="collapse-item-1">
                               
                               
                                <!-- COLLAPSE CONTENT INNER -->
                                <div class="well">
                                   
                                    <p> <h3>Python</h3> Python is used successfully in thousands of real-world business applications around the world, including many large and mission critical systems. Here are some quotes from happy Python users:
                                        <br>

                                        <h3>YouTube.com</h3>
                                        "Python is fast enough for our site and allows us to produce maintainable features in record times, with a minimum of developers," said Cuong Do, Software Architect, YouTube.com.
                                        <br>
                                       
                                        <h3>Google</h3>
                                        "Python has been an important part of Google since the beginning, and remains so as the system grows and evolves. Today dozens of Google engineers use Python, and we're looking for more people with skills in this language." said Peter Norvig, director of search quality at Google, Inc.</p>
                                    
                                </div>
                                <!-- /COLLAPSE CONTENT INNER -->
                                
                                
                            </div>
                            <!-- /COLLAPSE CONTENT -->
                            
                            
                        </li>
                        <!-- /SERVICE ITEM -->
                        
                        
                        <!-- SERVICE ITEM -->
                        <li class="service-item scroll-animated">
                           
                           
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-2" aria-expanded="false">Design</button>
                            
                            
                            <!-- COLLAPSE CONTENT -->
                            <div class="collapse" id="collapse-item-2">
                               
                               
                                <!-- COLLAPSE CONTENT INNER -->
                                <div class="well">
                                   
                                    <p>“What separates design from art is that design is meant to be... functional.”
										<br>
										“If you think math is hard try web design.”
										<br>
										“Digital design is like painting, except the paint never dries.”</p>
                                    
                                </div>
                                <!-- /COLLAPSE CONTENT INNER -->
                                
                                
                            </div>
                            <!-- /COLLAPSE CONTENT -->
                            
                            
                        </li>
                        <!-- /SERVICE ITEM -->
                        
                        
                        <!-- SERVICE ITEM -->
                        <li class="service-item scroll-animated">
                           
                           
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-3" aria-expanded="false">Technology</button>
                            
                            
                            <!-- COLLAPSE CONTENT -->
                            <div class="collapse" id="collapse-item-3">
                               
                               
                                <!-- COLLAPSE CONTENT INNER -->
                                <div class="well">
                                   
                                    <p> “One machine can do the work of fifty ordinary men. No machine can do the work of 1 extraordinary man.”
                                        <br>
                                        “Getting information off the Internet is like taking a drink from a fire hydrant.”</p>
                                    
                                </div>
                                <!-- /COLLAPSE CONTENT INNER -->
                                
                                
                            </div>
                            <!-- /COLLAPSE CONTENT -->
                            
                            
                        </li>
                        <!-- /SERVICE ITEM -->
                        
                        
                        <!-- SERVICE ITEM -->
                        <li class="service-item scroll-animated">
                           
                           
                            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse-item-4" aria-expanded="false">UI &amp; UX Design</button>
                            
                            
                            <!-- COLLAPSE CONTENT -->
                            <div class="collapse" id="collapse-item-4">
                               
                               
                                <!-- COLLAPSE CONTENT INNER -->
                                <div class="well">
                                   
                                    <p>  “Rule of thumb for UX: More options, more problems.”
                                        <br>
                                        “Design isn’t finished until somebody is using it.”
                                        <br>
                                        “How do I explain what I do at a party? The short version is that I say I humanize technology.”
                                        <br>
                                        “Design is about three dimensions and the five senses.”
                                        <br>
                                        “Every object tells a story if you know how to read it.”
                                    </p>
                                
                                </div>
                                <!-- /COLLAPSE CONTENT INNER -->
                                
                                
                            </div>
                            <!-- /COLLAPSE CONTENT -->
                            
                            
                        </li>
                        <!-- /SERVICE ITEM -->
                        
                        
                    </ul>
                    <!-- /SERVICE LIST -->


                </section>
                <!-- /SERVICE -->
                
                
                <!-- WORK -->
                <section id="work">


                    <h3 class="headline scroll-animated">Latest Work</h3>
                    
                    
                    <!-- SHOWCASE -->
                    <div class="showcase">
                       
                       
                        <!-- ITEM -->
                        <div class="item scroll-animated">
                          
                          
                            <!-- LIGHTBOX LINK -->
                            <a href="#" data-featherlight="#item-1-lightbox">
                            
                            
                                <!-- INFO -->
                                <div class="info">


                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">

                                        <h5>Ai Prime</h5>
                                        <p>Web Design</p>

                                    </div>
                                    <!-- /CONTAINER MID -->


                                </div>
                                <!-- /INFO -->


                                <div class="background-image" style="background-image: url(/static/p3/assets/img/work/main.JPG)"></div>

                           
                            </a>
                            <!-- /LIGHTBOX LINK -->
                            
                            
                            <!-- LIGHTBOX -->
                            <div id="item-1-lightbox" class="work-lightbox">
                               
                               
                                <img class="img-responsive" src="{% static 'p3/assets/img/work/main.JPG' %}" alt="image">
                                
                                <h3>Ai Prime</h3>
                                <p class="subline">Web Design
                                    <br>
                                    <a href="/" target="_blank">Click This Link To Checkout My Web.</a> 
                                </p>
                                
                                <p>“A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away.”
                                    <br>
                                    “Intuitive design is how we give the user new superpowers.” 
                                    <br>
                                    “One man's crappy software is another man's full time job.” </p>
                                
                                <p>“A website without visitors is like a ship lost in the horizon.”
                                    <br>
                                    “If debugging is the process of removing software bugs, then programming must be the process of putting them in”
                                </p>
                                
                                
                            </div>
                            <!-- /LIGHTBOX -->
                            
                            
                        </div>
                        <!-- /ITEM -->
                        
                        
                        <!-- ITEM -->
                        <div class="item scroll-animated">
                          
                          
                            <!-- LIGHTBOX LINK -->
                            <a href="#" data-featherlight="#item-2-lightbox">
                            
                            
                                <!-- INFO -->
                                <div class="info">


                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">

                                        <h5>Galaxy</h5>
                                        <p>Web Design</p>

                                    </div>
                                    <!-- /CONTAINER MID -->


                                </div>
                                <!-- /INFO -->


                                <div class="background-image" style="background-image: url(/static/p3/assets/img/work/p1.JPG)"></div>

                           
                            </a>
                            <!-- /LIGHTBOX LINK -->
                            
                            
                            <!-- LIGHTBOX -->
                            <div id="item-2-lightbox" class="work-lightbox">
                               
                               
                                <img class="img-responsive" src="{% static 'p3/assets/img/work/p1.JPG' %}" alt="image">
                                
                                <h3>Galaxy</h3>
                                <p class="subline">Web Design
                                    <br>
                                    <a href="/p1/" target="_blank">Click This Link To Checkout My Web.</a> 
                                </p>
                                
                                <p>“A user interface is like a joke. If you have to explain it, it’s not that good.”
                                    <br>
                                    “I don’t care if it works on your machine! We are not shipping your machine!”
                                </p>
                                
                                <p>“The public is more familiar with bad design than good design. It is, in effect, conditioned to prefer bad design, because that is what it lives with. The new becomes threatening, the old reassuring.”
                                    <br>
                                    “Measuring programming progress by lines of code is like measuring aircraft building progress by weight.”
                                </p>
                                
                                
                            </div>
                            <!-- /LIGHTBOX -->
                            
                            
                        </div>
                        <!-- /ITEM -->
                        
                        
                        <!-- ITEM -->
                        <div class="item scroll-animated">
                          
                          
                            <!-- LIGHTBOX LINK -->
                            <a href="#" data-featherlight="#item-3-lightbox">
                            
                            
                                <!-- INFO -->
                                <div class="info">


                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">

                                        <h5>Portfolio</h5>
                                        <p>About me</p>

                                    </div>
                                    <!-- /CONTAINER MID -->


                                </div>
                                <!-- /INFO -->


                                <div class="background-image" style="background-image: url(/static/p3/assets/img/work/p.JPG)"></div>

                           
                            </a>
                            <!-- /LIGHTBOX LINK -->
                            
                            
                            <!-- LIGHTBOX -->
                            <div id="item-3-lightbox" class="work-lightbox">
                               
                               
                                <img class="img-responsive" src="{% static 'p3/assets/img/work/p.JPG' %}" alt="image">
                                
                                <h3>Portfolio</h3>
                                <p class="subline">About me
                                    <br>
                                    <a href="/p2/" target="_blank">Click This Link To Checkout My Portfolio.</a> 
                                </p>
                                
                                <p>I'm Trying To Manage Myself, Not Just My Portfolio
                                    <br>
                                    “To become successful online, you only need to remember the following : Good Heart + Passion + Web Design + SEO + Digital Marketing + Dedication + Positiveness + Patience = Success”
                                </p>
                                
                                <p>“The life of a designer is a life of fight. Fight against the ugliness. Just like a doctor fights against disease. For us, the visual disease is what we have around, and what we try to do is cure it somehow with design.”</p>
                                
                                
                            </div>
                            <!-- /LIGHTBOX -->
                            
                            
                        </div>
                        <!-- /ITEM -->
                        
                        
                        <!-- ITEM -->
                        <div class="item scroll-animated">
                          
                          
                            <!-- LIGHTBOX LINK -->
                            <a href="#" data-featherlight="#item-4-lightbox">
                            
                            
                                <!-- INFO -->
                                <div class="info">


                                    <!-- CONTAINER MID -->
                                    <div class="container-mid">

                                        <h5>Resume</h5>
                                        <p>About me</p>

                                    </div>
                                    <!-- /CONTAINER MID -->


                                </div>
                                <!-- /INFO -->


                                <div class="background-image" style="background-image: url(/static/p3/assets/img/work/r.JPG)"></div>

                           
                            </a>
                            <!-- /LIGHTBOX LINK -->
                            
                            
                            <!-- LIGHTBOX -->
                            <div id="item-4-lightbox" class="work-lightbox">
                               
                               
                                <img class="img-responsive" src="{% static 'p3/assets/img/work/r.JPG' %}" alt="image">
                                
                                <h3>Resume</h3>
                                <p class="subline">About me
                                    <br>
                                    <a href="/p4/" target="_blank">Click This Link To Checkout My Resume.</a> 
                                </p>
                                
                                <p>“Great web design without functionality is like a sports car with no engine.”
                                    <br>
                                    “My code DOESN’T work, I have no idea why. My code WORKS, I have no idea why.”
                                </p>
                                
                                <p>“Software undergoes beta testing shortly before it’s released. Beta is Latin for ‘still doesn’t work.”
                                    <br>
                                    “Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.”
                                </p>
                                
                                
                            </div>
                            <!-- /LIGHTBOX -->
                            
                            
                        </div>
                        <!-- /ITEM -->
                        
                        
                    </div>
                    <!-- /SHOWCASE -->


                </section>
                <!-- /WORK -->
                
                
                <!-- CONTACT -->
                <section id="contact">


                    <a href="/contactus/" target="_blank"><h3 class="headline scroll-animated">Contact Me</h3></a>

                </section>
                <!-- /CONTACT -->
                
                
                <!-- FOOTER -->
                <section id="footer">
                
                   
                    <!-- SOCIAL ICONS -->
                    <ul class="social-icons scroll-animated">
                       
                       
                        <li><a href="https://github.com/ardevpk" target="_blank"><i class="fa fa-github" aria-hidden="true"></i><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a href="tel:+92 3213660078" target="_balnk"><i class="fa fa-whatsapp" aria-hidden="true"></i><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                        <li><a href="mailto:adnan1470369258@gmail.com" target="_balnk"><i class="fa fa-envelope" aria-hidden="true"></i><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                        
                        
                    </ul>
                    <!-- /SOCIAL ICONS -->
                    

                    <p class="scroll-animated">© 2021 ArDev | Design by <a href="/p2/" target="_blank">Abdul Rehman</a></p>


                </section>
                <!-- /FOOTER -->


            </div>
            <!-- /CONTENT AREA INNER -->


        </div>
        <!-- /CONTENT AREA -->
        
        
        <!-- JAVASCRIPTS -->
        <script type="text/javascript" src="{% static 'p3/assets/js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'p3/assets/js/main.js' %}"></script>
   
   
    </body> 
    
    
</html>