<!DOCTYPE HTML> 
<html>
	<head>
		<title>Adbul Rehman</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		{% load static %}
		<!-- {% static 'main/' %} -->
		<link rel="stylesheet" href="{% static 'main/assets/css/main.css' %}" />
		<link rel="shortcut icon" href="{% static 'main/images/logo.png' %}" type="image/x-icon">
		<noscript><link rel="stylesheet" href="{% static 'main/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
							<section class="panel banner right">
								<div class="content color0 span-3-75">
									<h1 class="major">Hello, my name<br />
									is Abdul Rehman</h1>
									<p>This is an <strong>Exanple</strong>, Website for my <a href="https://ardevpk.herokuapp.com" target="_blank">PORTFOLIO</a> Collection. It’s fully responsive. Hope you enjoy the website design and my hard work on this web design :)</p>
									<ul class="actions">
										<li><a href="#first" class="button special color1 circle icon fa-angle-right">Next</a></li>
									</ul>
								</div>
								<div class="image filtered span-1-75" data-position="25% 25%">
									<img src="{% static 'main/images/pic01.jpg' %}" alt="" />
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<div class="content span-7">
									<h2 class="major">About</h2>
									<p>I was born in 2004, after matric in 2020: Out of my curiosity about how web apps work, I started learning development using the most famous frameworks of Python like Django/Flask from YouTube and other learning websites. I can develop useful & professional web apps using Django and flask to accomplish customer requirements. After practicing for years now I feel I can join progressive teams like yours to further polish my skills and entertain any workloads coming my way with an open heart.
										<br>
										“I'm not a great programmer; I'm just a good programmer with great habits.”
									</p>
								</div>
								<div class="image filtered tinted" data-position="top left">
									<img src="{% static 'main/images/pic02.jpg' %}" alt="" />
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color1">
								<div class="intro joined">
									<h2 class="major">Design</h2>
									<p>“What separates design from art is that design is meant to be... functional.”
										<br>
										“If you think math is hard try web design.”
										<br>
										“Digital design is like painting, except the paint never dries.”</p>
								</div>
								<div class="inner">
									<ul class="grid-icons three connected">
										<li><span class="icon fa-diamond"><span class="label">Lorem</span></span></li>
										<li><span class="icon fa-camera-retro"><span class="label">Ipsum</span></span></li>
										<li><span class="icon fa-cog"><span class="label">Dolor</span></span></li>
										<li><span class="icon fa-paper-plane"><span class="label">Sit</span></span></li>
										<li><span class="icon fa-bar-chart"><span class="label">Amet</span></span></li>
										<li><span class="icon fa-code"><span class="label">Nullam</span></span></li>
									</ul>
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight large left">
								<div class="content span-5">
									<h2 class="major">About Programmers</h2>
									<p>“Programming today is a race between software engineers striving to build bigger and better idiot-proof programs, and the Universe trying to produce bigger and better idiots. So far, the Universe is winning.”</p>
								</div>
								<div class="image filtered tinted" data-position="top right">
									<img src="{% static 'main/images/pic03.jpg' %}" alt="" />
								</div>
							</section>

						<!-- Panel -->
							<section class="panel">
								<div class="intro color2">
									<h2 class="major">Productive</h2>
									<p>“ It´s better to wait for a productive programmer to become available than it is to wait for the first available programmer to become productive.”</p>
								</div>
								

								<section class="panel color2-alt">
									<div class="intro color2">
										<h2 class="major">Pages</h2>
										<li><a href="../main/index.html" target="_blank">Galaxy</a></li>
									<li><a href="../p1/index.html" target="_blank">Ai Prime</a></li>
									<li><a href="https://ardevpk.herokuapp.com/one/" target="_blank">Portfolio</a></li>
									<li><a href="https://ardevpk.herokuapp.com/two/" target="_blank">Resume</a></li>
									</div>
								</section>


								<div class="gallery">
									<div class="group span-3">
										<a href="{% static 'main/images/gallery/fulls/main.jpg' %}" class="image filtered span-3" data-position="bottom"><img src="{% static 'main/images/gallery/thumbs/main.JPG' %}" alt="" /></a>
										<a href="{% static 'main/images/gallery/fulls/p1.jpg' %}" class="image filtered span-1-5" data-position="center"><img src="{% static 'main/images/gallery/thumbs/p1.JPG' %}" alt="" /></a>
										<a href="{% static 'main/images/gallery/fulls/p.jpg' %}" class="image filtered span-1-5" data-position="bottom"><img src="{% static 'main/images/gallery/thumbs/p.jpg' %}" alt="" /></a>
									</div>
									<a href="{% static 'main/images/gallery/fulls/r.jpg' %}" class="image filtered span-2-5" data-position="top"><img src="{% static 'main/images/gallery/thumbs/r.JPG' %}" alt="" /></a>
									<!-- <a href="{% static 'main/images/gallery/fulls/r.jpg" class="image filtered span-2-5" data-position="top"><a href="https://ardevpk.herokuapp.com/two/"></a><img src="{% static 'main/images/gallery/thumbs/r.jpg" alt="" /></a></a> -->
									<!-- <div class="group span-4-5">
										<a href="{% static 'main/images/gallery/fulls/05.jpg" class="image filtered span-3" data-position="top"><img src="{% static 'main/images/gallery/thumbs/05.jpg" alt="" /></a>
										<a href="{% static 'main/images/gallery/fulls/06.jpg" class="image filtered span-1-5" data-position="center"><img src="{% static 'main/images/gallery/thumbs/06.jpg" alt="" /></a>
										<a href="{% static 'main/images/gallery/fulls/07.jpg" class="image filtered span-1-5" data-position="bottom"><img src="{% static 'main/images/gallery/thumbs/07.jpg" alt="" /></a>
										<a href="{% static 'main/images/gallery/fulls/08.jpg" class="image filtered span-3" data-position="top"><img src="{% static 'main/images/gallery/thumbs/08.jpg" alt="" /></a>
									</div>
									<a href="{% static 'main/images/gallery/fulls/09.jpg" class="image filtered span-2-5" data-position="right"><img src="{% static 'main/images/gallery/thumbs/09.jpg" alt="" /></a>
								</div> -->
							</section>

						<!-- Panel -->
							<section class="panel color4-alt">
								<div class="intro color4">
									<h2 class="major">Contact</h2>
									<p>Now Its Your Turn!.</p>
								</div>


								<section class="panel color2-alt">
									<div class="inner columns aligned">
										
										<div class="span-4-5">
											<h3 class="major">Contact Form</h3>
											<form method="post" action="/login/">
												<div class="field third">
													<label for="demo-name">Name</label>
													<input type="text" name="name" id="demo-name" value="" placeholder="Jeff Bezos" />
												</div>
												<div class="field third">
													<label for="demo-email">Email</label>
													<input type="email" name="email" id="demo-email" value="" placeholder="name@mail.domain" />
												</div>
												<div class="field third">
													<label for="demo-category">Category</label>
													<div class="select-wrapper">
														<select name="category" id="demo-category">
															<option value="1">Select</option>
															<option value="3">Django</option>
															<option value="4">Flask</option>
															<option value="5">Python</option>
															<option value="6">Web Design</option>
															<option value="7">Job Opputunity</option>
															<option value="8">Other</option>
														</select>
													</div>
												</div>
												<!-- <div class="field quarter">
													<input type="radio" id="demo-priority-low" name="demo-priority" class="color2" checked />
													<label for="demo-priority-low">Low Priority</label>
												</div>
												<div class="field quarter">
													<input type="radio" id="demo-priority-high" name="demo-priority" class="color2" />
													<label for="demo-priority-high">High Priority</label>
												</div>
												<div class="field quarter">
													<input type="checkbox" id="demo-copy" name="demo-copy" class="color2" />
													<label for="demo-copy">Email a copy</label>
												</div> -->

												<div class="field quarter">
													<input type="checkbox" id="demo-human" name="human" class="color2"/>
													<label for="demo-human">Not a robot</label>
												</div>

												<div class="field">
													<label for="demo-message">Message</label>
													<textarea name="message" id="demo-message" placeholder="Enter your message" rows="2"></textarea>
												</div>

												<ul class="actions">
													<li><input type="submit" value="Send Message" class="special color2" /></li>
													<!-- <li><input type="reset" value="Reset" /></li> -->
												</ul>
											</form>
										</div>
									</div>
								</section>



								<div class="inner columns divided">
									<div class="span-1-5">
										<ul class="contact-icons color1">
											<li class="icon fa-github"><a href="https://github.com/ardevpk">Github</a></li>
											<li class="icon fa-instagram"><a href="https://instagram.com/">Instagram</a></li>
											<li class="icon fa-facebook"><a href="https://facebook.com">Facebook</a></li>
										</ul>
									</div>
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color2-alt">
								<div class="intro color2">
									<h2 class="major">Thank's For Visiting Our Site</h2>
									<p>The End...</p>
								</div>
							</section>

						<!-- Copyright -->
							<div class="copyright">&copy; Abdul Rehman: <a href="tel:+92 321 3660078" target="_blank">Django Proragmmer</a>.</div>

					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'main/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'main/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'main/assets/js/main.js' %}"></script>

	</body>
</html>
