<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Responsive Contact us Form | CodingNepal</title>
      <link rel="shortcut icon" href="/static/contactus/blog.png" type="image/x-icon">
      <link rel="stylesheet" href="/static/contactus/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="container">
      <div class="text">
         Contact us
      </div>
      <form action="sending/" method="POST">
         <div class="form-row">
            <div class="input-data">
               <input type="text" name="fname" id="id_fname" required>
               <div class="underline"></div>
               <label for="">First Name</label>
            </div>
            <div class="input-data">
               <input type="text" name="lname" id="id_lname" required>
               <div class="underline"></div>
               <label for="">Last Name</label>
            </div>
         </div>
         <div class="form-row">
            <div class="input-data">
               <input type="text" name="email" id="id_email" required>
               <div class="underline"></div>
               <label for="">Email Address</label>
            </div>
            <div class="input-data">
               <input type="tel" name="phone" id="phone" required>
               <div class="underline"></div>
               <label for="">Phone</label>
            </div>
         </div>
         <div class="form-row">
         <div class="input-data textarea">
            <textarea rows="8" cols="80" name="message" id="id_message" required></textarea>
            <br />
            <div class="underline"></div>
            <label for="">Write your message</label>
            <br />
            <div class="form-row submit-btn">
               <div class="input-data">
                  <div class="inner"></div>
                  <input type="submit" value="Submit">
               </div>
            </div>
      </form>
      </div>
   </body>