<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Error</title>

    <meta name="author" content="Codeconvey" />
    <link rel="stylesheet" href="../static/contactus/css/style.css">
    <link rel="stylesheet" href="../static/contactus/css/demo.css" />
    <link rel="shortcut icon" href="../static/contactus/logo.png" type="image/x-icon">
	
</head>
<body>
		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            
        </div>
        <div class="col-rt-2">
            <ul>
              <a href="/"><img src="../static/contactus/logo.png" alt=""></a>
            </ul>
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>Oops Something Went Wrong</h1>
                <p>If Any Urgent Queries <a href="tel:+92 321 3660078" target="_balnk">Call Us</a> OR <a href="mailto:hackerzxstudio@gmail.com" target="_balnk">Email.</a> </p>
                <a href="/" id="contBtn">Back to Homepage</a>
            </div>
        </div>
    </div>
</header>


	</body>
</html>